.footer {
  width: 100%;
  border: 2px solid gray;
}
.footerWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  padding: 15px 5px;
  /* background-color: whitesmoke; */
}
.footerPart {
  margin: 20px 0px;
  flex: 1;
  width: 100%;
  padding: 0px 3px;
  margin-left: -5px;
}
.footerMid {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0px 5px 0px 0px;
  margin-right: 2px;
}

.footerPartList {
  list-style-type: none;
  margin-left: -23px;
}
.footerPartListItem {
  margin: 10px 0px;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
}
.linkIcon {
  margin-bottom: -4px;
}
